.dockHeader {
    background-color: #005454;
    border-radius: 10px;
}

.dragtab{
    border-radius: 10px;
}

.dragtab-label{
}

.dragtab-first{
    border-radius: 10px;
}

.dockareaOverlay{
    border-radius: 0px;
}

.TabWindowBackground{
    border-radius: 10px;
    background-color: #252525;
}

.label{
}